img{
    width: "50px";
    height: 100px;
    border-radius: 8px;
    
    
}
input{
    padding: 2px;
    margin-top: 10px;
    border: 3px solid blue;
    background-color: yellow;
    border-radius: 5px;
    
}
input:focus{
    outline: none;
}

button{
    padding: 5px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 5px;
    
}
