nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 70px;
    margin: auto;
    padding: 0px 10px;
    font-size: 20px;
    border-bottom: 1px solid red;
    
}