.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid red;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;

}
li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    margin: 20px 5px;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid grey;

}

