header {
  text-align: center;
  background-color: #f8f8f8;
    padding: 10px;
    
}

main {
  padding: 20px;
}


.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
