
.header{
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;

  
}
.container_list {
  display: flex;
  flex-direction: column;   
  align-items: center;  
  
      
}

.list {
  background-color: rgb(116, 116, 205);
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(200, 136, 136);
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;   
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 220px;
  min-height: 100vh;
  background-color: rgb(33, 33, 33);
  padding: 15px;
  box-sizing: border-box;
}


.sidebarGroup {
  margin-bottom: 20px;
}


.sidebarTitle {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: none;
}

.sidebarTitleActive {
  color: rgb(230, 116, 165);
  text-decoration: none;
}


.sidebarChildren {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 10px;
  
}


.sidebarItem {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 6px;
}

