.btn-mode{
  padding: 5px;
  margin: 2px;
  font-size: 25px;
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 10px;
}

.light{
  background-color: white;
  color: black;
  transition: all 0.5s ease;
  min-height: 100vh;
}

.dark{
  background-color: #15202b;
  color: white;
  transition: all 0.5s ease;
  min-height: 100vh;
  
}
