/* header{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: aliceblue;
} */

.app4{
  width: 25%;             
  margin: 30px auto;        
  /* background-color: aqua; */
   border: 2px solid red;
  padding: 20px; 
}

.input-app4{
  display: block;        
  margin: 0 auto 3px;   
  width: 250px;
  padding: 8px;
}

input-app4:focus{
    outline: none;
    
}

.text-app4{
  font-size: 15px;
  margin: 2px;
  padding: 5px;
}