h1{
    text-align: center;
    color: blue;

}
.container{
  width: 50%;
  margin: 0 auto;              
  background-color: aquamarine;
  margin-top: 20px;
  display: flex;
  flex-direction: column;     
  align-items: center;    
  padding: 20px;  
  border-radius: 5px;  
  
}
