table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;   
  font-family: Arial, sans-serif;
  background-color: pink;
}


tr{
    
    border-bottom: 1px solid #dddddd;
}

th,td{
    padding: 12px 15px;
   text-align: center;
}

th{
    font-weight: bold;
    background-color: red;
}